                /*Configurações de base*/
html, body{
    margin: 0px;
    padding: 0px;
   
    background-color:rgb(28, 27, 44) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-image: url(./image/fundo_netflix.png); 
    background-size:cover;
    

}

a{
color: white;


} 
                /*Cabeçalho*/
.logo{
    margin: 18px 0px 0px 20px;
    width: 150px;
    position: relative;

}

                /*Fundo opaco*/

.fundo{
    text-align: center;
    position: relative;
    display: block;

    width: 381px;
    height:580px;

    top: 10%;
    left: 36.5%;

    background-color: rgb(7, 7, 7);
    opacity: 80%;
    
    border-radius: 8px;

}

                /*Informações de login*/

.form{
    position: absolute;
    text-align: left;

    top: 12%;
    left: 40%;
}

.form h1{
    color: white;
    font-size: 25px;

    position: relative;

    left: 10px;
}

.email{
    margin: 10px;
    width: 260px;
    height: 35px;

    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.form #senha{
    margin-bottom: 30px;
}

.form button{
    margin: 8px;
    width: 270px;
    height: 40px;

    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.check{
    position: absolute;
    left: 5px;
}

.info label{
    position: relative;
    left: 23px;

    font-size: 15px;
    color: rgb(102, 102, 102);
}

.ajuda{    
    position: absolute;
    display: block;
    
    top: 260px;
    left: 150px;

    text-decoration: none;
}

.footer{
    position: relative;
    top: 180px;
    left: 3px;

    color: white;
}

.footer p{
    position: absolute;
    top: 50px;
    left: 4px;

    color: gray;
}

.footer a{
    position: absolute;
    text-decoration: none;

    top: 67px;
    left: 112px;
}
                                                                                                      /*<\\>*/