                /*Configurações de base*/
html, body{
    margin: 0px;
    padding: 0px;
   
    background-color:rgb(28, 27, 44) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-image: url(./image/fundo_netflix.png); 
    background-size: auto;
    background-repeat: repeat;


    

}

a{
color: white;


} 
                /*Cabeçalho*/
.logo{
    margin: 2.5% 0% 0% 2.5%;
    width: 150px;
    position: relative;

}

                /*Fundo opaco*/

main{
    display: flex;
    justify-content: center;
    
}

.fundo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2%;

    width: 381px;
    height:580px;

    
   

    background-color: rgb(7, 7, 7);
    opacity: 80%;
    
    border-radius: 8px;

}

                /*Informações de login*/

.form{
    position: absolute;
    text-align: left;

    
}

.form h1{
    color: white;
    font-size: 25px;
    position: relative;
    left: 3.5%;
    
}

.email{
    margin: 10px;
    width: 260px;
    height: 35px;

    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.form #senha{
    margin-bottom: 30px;
}

.form button{
    margin: 8px;
    width: 270px;
    height: 40px;

    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 18px;
    border-radius: 4px;
}
.senha{
    display: flex;
    justify-content: center;

    left: 2%
    
}

.info label{
    font-size: 100%;
    color: rgb(102, 102, 102);
}

.ajuda{   
    padding-left: 11%;
    text-decoration: none;
}
.chao{
    border: 2px solid red;
    position:absolute;
    bottom: 3%;
    left: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
 


 




}



.chao p{

    color: gray;
}

.chao a{
    padding-left: 3px;
    text-decoration: none;
}

@media screen and (max-width: 480px){

    html, body{
        margin: 0px;
        padding: 0px;
       
        background-color:rgb(28, 27, 44) ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        background-image: url(./image/fundo_netflix.png); 
        background-size:cover;
        
    
    }

    .fundo{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-left: 0px;

    .chao{
        
        
        left: 17%;
           
}

                                                                                                      /*<\\>*/
